.navbar-nav .nav-link {
    font-size: 16px; 
    font-weight: 600;
    margin-right: 12px;
}


.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000000; 
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  animation: fadeInDown 0.3s;
}

.navbar.sticky .nav-link {
  color: #ffffff; 
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-brand.text-white {
    color: #ffffff !important; 
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none; 
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #000000;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

  